<template name="Home">
 <h1>Coding Exercise 1</h1>
 
 <form id="playerForm">
        First Name: <input type="text" name="firstName"/>
        <br>
        Last Name: <input type="text" name="lastName"/>
        <br>
        Email: <input type="text" name="email"/>
        <br>
        eyecolor: <input type="text" name="eyeColor"/>
        <br>
        FavColor: <input type="text" name="favColor"/>
        <br>
        <br>
        <input type="submit" id="submit"/>
    </form>
 <br>
 {{result}}
 
</template>